<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{cabecalho :: head('Cadastrar Cliente')}"></header>

<body>

<nav th:replace="~{menu :: nav}"></nav>

	<div class="container mt-3">
		<h2 class="text-center">Cadastrar clientes</h2>
		<form th:object="${clienteDto}" action="/clientes" method="POST">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Nome</span> 
						
					<!-- th:errorclass é usado para caso encontre erro -->
					<!-- th:field substitui o name e id, colocando a palavra dentro do {} como valor de cada um -->
						
						<input type="text" th:field="*{nome}" th:errorclass="is-invalid" class="form-control">
						<div class="invalid-feedback" th:errors="*{nome}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Documento</span> 
						<input type="text" th:field="*{documento}" th:errorclass="is-invalid" class="form-control">
						<div class="invalid-feedback" th:errors="*{documento}"></div>
					</div>
				</div>
			</div>

				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Endereco</span> 
						<input type="text" th:field="*{endereco}" class="form-control">
					</div>
				</div>

			<input class="btn btn-success" type="submit" value="Salvar">

		</form>
	</div>
	
</body>
</html>